.redBorder {
    border: 5px red solid;
}

.orangeBorder {
    border: 5px orange solid;
}

.purpleBorder {
    border: 5px purple solid;
}

.blueBorder {
    border: 5px blue solid;
}

.greenBorder {
    border: 5px green solid;
}
