.redBorder {
    /* border: 5px red solid; */
    background-color: #A8F0F0;
    text-align: right;
}

.orangeBorder {
    /* border: 5px orange solid; */
    font-size: 14pt;
}

.purpleBorder {
    /* border: 5px purple solid; */
    border-bottom: 2px blue dashed;
}

.blueBorder {
    /* border: 5px blue solid; */
    border: 4px #C2E9E9 solid;
    background-color: #E8FBFB;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.greenBorder {
    /* border: 5px green solid; */
    border: 10px white solid;
    background-color: white;
}

body {
    background-image: url("https://swe.umbc.edu/~zzaidi1/is448/chap3-examples/lab/background.gif");
    margin-left: 10%;
    margin-right: 10%;
}

#spatulaImage {
    background-color: white;
}

.image {
    float: right;
}

.spacer {
    clear: both;
}
