.redBorder {
    border: 5px red solid;
    text-align: right;
}

.orangeBorder {
    border: 5px orange solid;
}

.purpleBorder {
    border: 5px purple solid;
}

.blueBorder {
    border: 5px blue solid;
    background-color: #E8FBFB;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

.greenBorder {
    border: 5px green solid;
    background-color: white;
}

body {
    background-image: url("https://swe.umbc.edu/~zzaidi1/is448/chap3-examples/lab/background.gif");
    margin-left: 10%;
    margin-right: 10%;
}

#spatulaImage {
    background-color: white;
}

/* Perhaps we can remove this later, since we are floating images to the right */
img {
    margin-top: 15px;
}
